@import url("https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.wrapper--container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap:1em;
  justify-content: space-around;
}


.general--wrapper {
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
}

.info--wrapper {
  display: flex;
  justify-content: space-between;
}




/* Global classes */
.has--text--warning {
  color: rgb(214, 121, 7);
  cursor: pointer;
}



/* Customizing Global components */
.card {
  cursor: pointer;
}






/* User Profile Design */
.card--container {
  max-height: 100%;
  max-width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #fffffb;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  
}

.card--container:hover  {
  transform: scale(1.01);
  cursor: pointer;
}
.card--container .profile-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  background-position: center;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.card--container h1 {
  font-family: "Sriracha", arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #5b5f97;
}
.card--container .description {
  margin-bottom: 20px;
  padding-top: 30px;
}
.card--container .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 75px);
  margin: 0 auto;
}
.card--container .social a {
  text-align: center;
  border: solid 2px #ff6b6c;
  width: 75px;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 15px;
}
.card--container .social a:hover {
  background: #ff6b6c;
  color: white;
  cursor: pointer;
}
.card--container button {
  width: 80%;
  height: 20%;
  font-size: 2rem;
  margin: 10px 10% 20px 10%;
  color: #fffffb;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: linear-gradient(45deg, #ff6b6c, #ffc145, #ffc145, #ff6b6c);
  background-size: 300% 300%;
  outline: none;
  transition: all 200ms ease-in-out;
}
.card--container button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
  -webkit-animation: gradientBG 1.5s ease-in-out forwards;
  animation: gradientBG 1.5s ease-in-out forwards;
  cursor: pointer;
}
.card--container button:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}
.card--container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b5f97;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 0 20px;
  margin-left: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card--container footer div {
  display: flex;
}
.card--container footer div .fa-heart {
  color: #ff6b6c;
}
.card--container footer div p:first-child {
  margin-right: 10px;
  border-right: 4px solid white;
  padding-right: 10px;
}


@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* User Profile End */